*.o
*.out
*.pdf
*_build
bin/
_install/bin
*.dSYM
*vgcore*
*~
postings.bin
pme
rtests
testcov
covtest
*.gcov
*.gcno
*.gcda
test_stats.txt
testdata/test_sg.txt
testdata/test_stats.txt
testdata/old/
notes/
test_pme
test_sg
test_stats
temp
oldcode/
*#
