*.o
*.out
*.pdf
*_build
bin/
_install/bin
*.dSYM
*vgcore*
*~
*.ods
postings.bin
pme
rtests
test_sort
test_sel_size
testcov
covtest
test_compression
get_optimal_packing_data
*.gcov
*.gcno
*.gcda
test_stats.txt
testdata/test_sg.txt
testdata/test_stats.txt
testdata/old/
notes/
test_pme
test_sg
test_stats
temp
oldcode/
*#
